*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
        background-image: linear-gradient(#e1f1fd,	#82b7f2);
}
header {
        background-color: #274684;
        padding: 10px;
      }
nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      
nav ul li {
        display: inline;
        margin-right: 10px;
      }
      
nav ul li a {
        color: #fff;
        text-decoration: none;
        padding: 5px 10px;
      }
.division{
        background-color: #476db9;
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
    }
#banner {
        background-image: url(../imagenes/caparanasn_310959197_1289180478563329_1449626661523197856_n.jpg);
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        padding: 100px 0;
}
      
    #banner h1 {
        font-size: 36px;
}
     
    #banner p {
        font-size: 18px;
}
.noticias{
    text-align: center;
    background-color: #274684;
    width: 100%;
    height: 50px;
}
.gcontainer{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
}
      
.gitem {
        text-align: center;
}
      
.gitem img {
        width: 100%; 
}
      
.gitem h3, .gitem p{
        margin: 10px 0;
}
.notynov{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
}
.noticia1, .noticia2, .noticia3 {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin: 10px;
        border: 1px solid black;
        background-image: linear-gradient(to left,#e1f1fd,	#82b7f2);
        margin-top: 10px;

}
.noticia1{
        border: 1px solid black;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
}
.noticia1:hover, .noticia2:hover, .noticia3:hover{
        filter: brightness(105%);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.548);
}
.news__image {
        max-width: 300px;
        height: auto;
        margin-right: 20px;
}
.news__image3{
        max-width: 300px;
        height: auto;
        margin-right: 20px;
}
.titulosnoticia {
        margin-top: 10px;
        font-style: italic;
        font-size: 16px;
        font-weight: bold;
}
.redes a {
        color: #000; 
        font-size: 50px;
        margin-right: 10px;
        margin-top: 10px;
}
.noticia2 .boton{
        margin-bottom: 20px;
}
.boton{
        margin-left: 1000px;
        margin-top: 100px;
        background-image: linear-gradient(#bde1ff,	#5d9ae1);
        color: black;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px 20px;
        margin-bottom: 20px;
}
      .boton:hover{
      
        background-image: linear-gradient(rgb(139, 207, 238), #1c72d5);
      
}
.parrafo{
        margin-top: 10px;
}
footer {
        background-color: #274684;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-weight: bold;
}